<!--
<p>Nombre: {{name}}</p>
<p>Edad: {{age}}</p>
<p>Calle: {{address.street}}</p>
<p>Ciudad: {{address.city}}</p>
<ul>
    <li *ngFor= 'let hobby of hobbies'>
        {{hobby}}
    </li>
   
</ul>
-->

<ul>
<li>
     <a routerLink="/">Home</a>
</li>
<li>
        <a routerLink="/about">About</a>
   </li>
</ul>

<router-outlet></router-outlet>

<!--
<form (submit)="addUser(newUser)">
    <input type="text" #newUser>
    <button>Enviar</button>
</form>

<ul>
    <li *ngFor= 'let user of users'>
     {{user}}   <button (click)="delete(user)">
            X
        </button>
    </li>
</ul>

<div>
    <form>
        <input type="text" name="nombre" [(ngModel)]="nombre">
        <input type="text" name="edad" [(ngModel)]="edad">
    </form>
    Nombre: {{nombre}} <br>
    Edad: {{edad}}
</div>

<hr>

<div *ngFor="let post of posts">
<h1>{{post.title}}</h1>
<p>{{post.boddy}}</p>
</div>
-->